body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
	/* min-width: 100%;
	height: auto; */
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.main-header {
	padding-top: 50px;

	background-color: #eeeeee;
}

.main-navigation .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-header-logo {
	width: 160px;
	height: 65px;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 440px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.cart-navigation {
	display: flex;
	justify-content: flex-end;
	width: 160px;
	margin: 0;
	padding: 0;

	list-style: none;
}



